a {
    text-decoration: none;
    color: #191724;
}

nav li{
    padding-left: 20px;
    padding-right: 20px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

footer {
    position: fixed;
    bottom: 5px;
}
  
div.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

* {
    box-sizing: border-box;
}
  
/* Create two equal columns that floats next to each other */
.column1 {
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}
  
.column2 {
float: left;
padding-top: 20px;
width: 70%;
padding: 10px;
height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

.menu {
    background-color: white;
}

.createNote {
    background-color: white;
}
